<div class="row mt-5">
  <div class="col-md-8 mx-auto">
    <h1> issue-edit works!</h1>
    <h4>Project name - {{ project.name }}, Project ID - {{ project.id }}</h4>
    <h5>Issue created - {{ issue.created | date }}</h5>
    <form [formGroup]="issueForm" (ngSubmit)="onIssueSubmit()">
        <div class="row">
          <div class="col-md-8 mx-auto d-flex justify-content-center">
            
                <button type="submit" class="btn btn-success" [disabled]="!issueForm.valid" >Save</button>
                <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
            
          </div>
        </div>
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="form-group">
              <label for="name">Name</label>
              <input type="text" id="name" class="form-control" [formControlName]="'issueName'" required #IssueName>
            </div>
          </div>
        </div>
        
        
        <div class="row">
          <div class="col-md-8 mx-auto">
            <div class="form-group">
              <label for="description">Description</label>
              <textarea type="text" id="description" class="form-control" rows="6" formControlName="issueDescription" required #IssueDescription></textarea>
            </div>
          </div>
        </div>
      </form>
  </div>
</div>