<div class="container">
  <div class="row">
    <h1>Projects List</h1>
  </div>
  <router-outlet></router-outlet>
  <div class="row">
    <div class="col-xs-12">
      <button class="btn btn-success" (click)="onNewProject()">New Project</button>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="container">
      <div class="row mx-auto">
          <div class="col-md-8 mx-auto">
              <app-project-item *ngFor="let project of projectsArray | paginate: { itemsPerPage: 7, currentPage: p }; let i = index"
              [project] = "project"
              [index] = "i"
              [projectsArray] = "projectsArray"
              ></app-project-item>
              <pagination-controls (pageChange)="p = $event"
              ></pagination-controls>
             <!-- this is for styling paginator  class="text-center"  -->
            </div>
      </div>
    </div>
    
  </div>
</div>

